In [13]:
data= {123456: {"brand": "Samsung" , "cost": 11234, "type" : "tablet"},
      789101: {"brand": "Iphone", "cost": 115678, "type" : "macbook"},
      112131: {"brand": "Nokia", "cost": 38984, "type" :"smartphone" }}

In [14]:
reg = 123456

print(data[reg]['brand'])
print(data[reg]['cost'])
print(data[reg]['type'])

Samsung
11234
tablet

In [15]:
reg = 789101

print(data[reg]['brand'])
print(data[reg]['cost'])
print(data[reg]['type'])

Iphone
115678
macbook

In [16]:
reg = 112131

print(data[reg]['brand'])
print(data[reg]['cost'])
print(data[reg]['type'])

Nokia
38984
smartphone

In [17]:
import json
js = json.dumps(data)
js

'{"123456": {"brand": "Samsung", "cost": 11234, "type": "tablet"}, "789101": {"brand": "Iphone", "cost": 115678, "type": "macbook"}, "112131": {"brand": "Nokia", "cost": 38984, "type": "smartphone"}}'

In [19]:
fd = open('data.json','r')

txt = fd.read()

fd.close()

In [21]:
fd = open("data.json",'r')
r = fd.read()
fd.close()

data = json.loads(r)

In [22]:
prod_id = str(input("Enter product id:"))
brand = str(input("Enter name:"))
price= int(input("Enter price:"))
os = str(input("Enter os:"))
typ=str(input("Enter the type:"))
qn=int(input("Enter the quantity:"))
data[prod_id] = {'brand': brand, 'price': price, 'os': os, "type":typ, "quantity":qn}

js = json.dumps(data)

fd = open("data.json",'w')
fd.write(js)
fd.close()

Enter product id:112356
Enter name:Redmi
Enter price:10500
Enter os:Android
Enter the type:Touch
Enter the quantity:10

In [23]:
data

{'1001': {'name': 'Apple', 'pr': 100, 'qn': 30},
 '1002': {'name': 'Banana', 'pr': 800, 'qn': 100},
 '1003': {'name': 'CoolDrinks', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '112356': {'brand': 'Redmi',
  'os': 'Android',
  'price': 10500,
  'quantity': 10,
  'type': 'Touch'}}

In [25]:
del data['112356']

In [26]:
records = json.loads(r)

In [27]:
data

{'1001': {'name': 'Apple', 'pr': 100, 'qn': 30},
 '1002': {'name': 'Banana', 'pr': 800, 'qn': 100},
 '1003': {'name': 'CoolDrinks', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10}}

In [32]:
ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))


print("Product: ", records[ui_prod]['name'])
print("Price: ", records[ui_prod]['pr'])
print("Billing Amount: ", records[ui_prod]['pr'] * ui_quant)

records[ui_prod]['qn'] = records[ui_prod]['qn'] - ui_quant

Enter the product_Id: 1006
Enter the quantity: 9
Product:  Phone
Price:  50000
Billing Amount:  450000

In [34]:
js = json.dumps(records)

fd = open("data.json",'w')
fd.write(js)
fd.close()

In [35]:
{'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}

{'amount': 450000, 'prod': '1006', 'qn': 9}

In [37]:
sales = {1 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         2 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant},
         3 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}}

In [38]:
sale = json.dumps(sales)
sale

'{"1": {"prod": "1006", "qn": 9, "amount": 450000}, "2": {"prod": "1006", "qn": 9, "amount": 450000}, "3": {"prod": "1006", "qn": 9, "amount": 450000}}'